<div class="modal fade" id="newPostModal" tabindex="-1">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content rounded-4 shadow">

			<div class="modal-header border-0">
				<h5 class="modal-title fw-bold">Nouvelle publication</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<form action="{{ path(post_create_route|default('forum_post_forum_post_new')) }}" method="post" enctype="multipart/form-data">
				<div class="modal-body">

					<div class="mb-3">
						<label class="form-label fw-semibold">Titre</label>
						<input class="form-control" name="title" required>
					</div>

					<div class="mb-3">
						<label class="form-label fw-semibold">Message</label>
						<textarea class="form-control" name="content" rows="4" required></textarea>
					</div>

					<div class="mb-3">
						<label class="form-label fw-semibold">Image (optionnelle)</label>
						<input type="file" class="form-control" name="image">
					</div>

				</div>

				<div class="modal-footer border-0">
					<button class="btn btn-light rounded-pill" data-bs-dismiss="modal">Annuler</button>
					<button class="btn btn-primary rounded-pill px-4">Publier</button>
				</div>
			</form>

		</div>
	</div>
</div>
