{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
  <div class="p-4">
    <h2 class="mb-3">Gestion</h2>
    <div class="alert alert-success mb-0">
      {{ message }}
    </div>
  </div>
{% endblock %}
