{% extends 'base.html.twig' %}

{% block title %}Modifier Consultation{% endblock %}

{% block body %}
<h1>Modifier Consultation</h1>

{{ include('BackOffice/consultation/_form.html.twig', { form: form, submit_label: 'Mettre a jour', form_action: path('consultation_edit', {'id': consultation.id}) }) }}

<a href="{{ path('consultation_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
