{% extends 'base.html.twig' %}

{% block title %}Modifier prescription{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="d-flex flex-wrap align-items-start justify-content-between gap-2 mb-4">
        <div>
            <h1 class="mb-1">Modifier prescription</h1>
            <div class="text-muted">
                Consultation #{{ prescription.consultation.id }} - {{ prescription.consultation.patient.prenom }} {{ prescription.consultation.patient.nom }}
            </div>
        </div>
        <a class="btn btn-light" href="{{ path('consultation_index') }}">Retour</a>
    </div>

    {% include 'BackOffice/prescription/_form.html.twig' with {
        form: form,
        submit_label: 'Mettre a jour'
    } %}
</div>
{% endblock %}
